In [1]:
n = int(input("Enter the number of rows:"))


#For the 1st Triangle

#Define the rows that is required. n= number of rows required.
for i in range (n):
    
#Empty spaces are needed to mirror the triangle on the opposite direction.
    for j in range (n-i-1):
        print (" ", end="  ")
        
#This part of the code arrange the column to start with n.
    for j in range (i+1):
        print (n-j,end="  ")
    print ()

    
    
#For the 2nd Triangle

for i in range (n):
    for j in range (n-i-1):
        print (" ", end="  ")
    for j in range (i+1):
        print (j+1,end="  ")
    print ()

Enter the number of rows:16
                                             16
                                          16  15
                                       16  15  14
                                    16  15  14  13
                                 16  15  14  13  12
                              16  15  14  13  12  11
                           16  15  14  13  12  11  10
                        16  15  14  13  12  11  10  9
                     16  15  14  13  12  11  10  9  8
                  16  15  14  13  12  11  10  9  8  7
               16  15  14  13  12  11  10  9  8  7  6
            16  15  14  13  12  11  10  9  8  7  6  5
         16  15  14  13  12  11  10  9  8  7  6  5  4
      16  15  14  13  12  11  10  9  8  7  6  5  4  3
   16  15  14  13  12  11  10  9  8  7  6  5  4  3  2
16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1
                                             1
                                          1  2
                                       1  2  3
                                    1  2  3  4
                                 1  2  3  4  5
                              1  2  3  4  5  6
                           1  2  3  4  5  6  7
                        1  2  3  4  5  6  7  8
                     1  2  3  4  5  6  7  8  9
                  1  2  3  4  5  6  7  8  9  10
               1  2  3  4  5  6  7  8  9  10  11
            1  2  3  4  5  6  7  8  9  10  11  12
         1  2  3  4  5  6  7  8  9  10  11  12  13
      1  2  3  4  5  6  7  8  9  10  11  12  13  14
   1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16