In [43]:
n = int(input("Enter the number of rows:"))

for i in range (n):
    for j in range (n-i-1):
        print (" ", end="  ")
    for j in range (i+1):
        print (j+1,end="  ")
    print ()
    
for i in range (n):
    for j in range (n-i-1):
        print (" ", end="  ")
    for j in range (i+1):
        print (j+1,end="  ")
    print ()

Enter the number of rows:16
                                             1
                                          1  2
                                       1  2  3
                                    1  2  3  4
                                 1  2  3  4  5
                              1  2  3  4  5  6
                           1  2  3  4  5  6  7
                        1  2  3  4  5  6  7  8
                     1  2  3  4  5  6  7  8  9
                  1  2  3  4  5  6  7  8  9  10
               1  2  3  4  5  6  7  8  9  10  11
            1  2  3  4  5  6  7  8  9  10  11  12
         1  2  3  4  5  6  7  8  9  10  11  12  13
      1  2  3  4  5  6  7  8  9  10  11  12  13  14
   1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16
                                             1
                                          1  2
                                       1  2  3
                                    1  2  3  4
                                 1  2  3  4  5
                              1  2  3  4  5  6
                           1  2  3  4  5  6  7
                        1  2  3  4  5  6  7  8
                     1  2  3  4  5  6  7  8  9
                  1  2  3  4  5  6  7  8  9  10
               1  2  3  4  5  6  7  8  9  10  11
            1  2  3  4  5  6  7  8  9  10  11  12
         1  2  3  4  5  6  7  8  9  10  11  12  13
      1  2  3  4  5  6  7  8  9  10  11  12  13  14
   1  2  3  4  5  6  7  8  9  10  11  12  13  14  15
1  2  3  4  5  6  7  8  9  10  11  12  13  14  15  16

In [16]:
#Indicate the number of rows needed
rows = 16

for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

                              1
                            1 2
                          1 2 3
                        1 2 3 4
                      1 2 3 4 5
                    1 2 3 4 5 6
                  1 2 3 4 5 6 7
                1 2 3 4 5 6 7 8
              1 2 3 4 5 6 7 8 9
            1 2 3 4 5 6 7 8 9 10
          1 2 3 4 5 6 7 8 9 10 11
        1 2 3 4 5 6 7 8 9 10 11 12
      1 2 3 4 5 6 7 8 9 10 11 12 13
    1 2 3 4 5 6 7 8 9 10 11 12 13 14
  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

In [56]:
size = 16

#First triangle 
for i in range(size):
    for j in range(1,size -i):
        print(" ", end=" ")
    for k in range(1, i + 2):
        print(k, end=" ")
    print()

#Second triangle
for i in range(size):
    for j in range(1, size - i):
        print(" ", end=" ")
    for k in range(1, i + 2):
        print(k, end=" ")
    print()

                              1
                            1 2
                          1 2 3
                        1 2 3 4
                      1 2 3 4 5
                    1 2 3 4 5 6
                  1 2 3 4 5 6 7
                1 2 3 4 5 6 7 8
              1 2 3 4 5 6 7 8 9
            1 2 3 4 5 6 7 8 9 10
          1 2 3 4 5 6 7 8 9 10 11
        1 2 3 4 5 6 7 8 9 10 11 12
      1 2 3 4 5 6 7 8 9 10 11 12 13
    1 2 3 4 5 6 7 8 9 10 11 12 13 14
  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
                              1
                            1 2
                          1 2 3
                        1 2 3 4
                      1 2 3 4 5
                    1 2 3 4 5 6
                  1 2 3 4 5 6 7
                1 2 3 4 5 6 7 8
              1 2 3 4 5 6 7 8 9
            1 2 3 4 5 6 7 8 9 10
          1 2 3 4 5 6 7 8 9 10 11
        1 2 3 4 5 6 7 8 9 10 11 12
      1 2 3 4 5 6 7 8 9 10 11 12 13
    1 2 3 4 5 6 7 8 9 10 11 12 13 14
  1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16